.e-schedule .e-month-view .e-appointment{
  background: none;
  border: none;
}
.e-more-popup-wrapper .e-appointment{
  background: none;
}
.e-schedule .e-vertical-view .e-day-wrapper .e-appointment .e-up-icon{
  display: none;
}

.e-schedule .e-appointment-details{
  padding: 0!important;
  height: 100%;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment{
  border-radius: 11px 11px 11px 11px;
  border: none;
  background: white ;
  border: solid black;
  width: 97% !important;
}

.CM{
  color: black;
  white-space: break-spaces;
}

.TD{
  color: black;
  white-space: break-spaces;
}
.TP{
  color: black;
  white-space: break-spaces;
}
.EXAMEN{
  color: black;
  white-space: break-spaces;
}
.AUTRE{
  color: black;
  white-space: break-spaces;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header, .e-popup.e-popup-open{
  border-radius: 10px;
}

.CM .header-Calendar{
  padding: 7px;
  background-color: #B2A9F9;
  border-radius: 11px 11px 0px 0px;
}

.TP .header-Calendar{
  padding: 7px;
  background-color: #c5fcb1;
  border-radius: 11px 11px 0px 0px;
}

.TD .header-Calendar{
  padding: 7px;
  background-color: #fafcae;
  border-radius: 11px 11px 0px 0px;
}

.EXAMEN .header-Calendar{
  padding: 7px;
  background-color: #0ed145;
  border-radius: 11px 11px 0px 0px;
}

.AUTRE .header-Calendar{
  padding: 7px;
  background-color: #f1c82b;
  border-radius: 11px 11px 0px 0px;
}

.body-Calendar{
  background: white;
  border-top: solid;  
}

.card-columns {
  column-count: 1!important;
}
